*.js
*.js.map
*.tmp
.vscode
native
*.exe
*.obj
marblegame.hl
marblegame
settings.json
console.log
data/replays/
release
node_modules
fonts
package.json
package-lock.json

macos-dist/MarbleBlast Platinum.app/
macos-dist/data/

.DS_Store
**/.DS_Store

Export/html5
Export/.hxml
Export/android/local.properties
Export/android/app/src/main/assets
Export/android/app/src/main/cpp
Export/android/app/src/main/java
Export/android/app/src/main/build.hxml