*.js
*.js.map
*.tmp
.vscode
native
*.exe
*.obj
marblegame.hl
marblegame
settings.json
console.log
data/replays/
release
Export
node_modules
fonts
package.json
package-lock.json

macos-dist/MarbleBlast Platinum.app/
macos-dist/data/

.DS_Store
**/.DS_Store

